.post{
    border:2px solid cornsilk;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 14px;
    width:540px;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .post-info{
     font-size: smaller;
     font-family: Verdana;
     font-weight: bold;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 5px }

     ul{ display: block;
        margin:0;
        padding: 0;
        top: 0;
        width: 100%;
        font-family: Verdana;
    background-color: white;}

        {float: :right;}

        li a { display: block;
            color:black;
            text-align: center;
            padding: 10px 20px;
            text-decoration: none;  }

            li a: :hover:not(.active) 
            {background-color: rgb  }

    footer{
        text-align: center;
        align-items: center;
        position: relative;
        height: 35px;
        left: 0;
        bottom:0;
        width:100%;
        background-color: antiquewhite;
        color:black}

        perfil{
            border-radius: 100;
        }
h1{
    background-color: white;
}

•	header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    font-weight: bold;
}
hr{
    border-top: 1px solid #c2c2c2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    font-family: Verdana;
    font-size: small;
  }  
li {
    float: right;
  }
 
  li a {
    display: block;
    color: rgb(129, 129, 129);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #d9d9d9;
  }
 
  li a:hover:not(.active) {
    background-color: #c2c2c2;
  }

.post{
    border: 2px solid #ddddddaa;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.03);
    padding: 14px;
    width: 540px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .post-info{
    font-size: smaller;
    font-family: Verdana;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

footer{
    text-align: center;
    align-items: center;
    position: relative;
    height: 35px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
  }
.head{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 2px;
}
.perfil-nome{
  font-family:Verdana;
  background-color: #d9d9d9;
  }
.perfil-botao{
  background-color: #4CAF50; /* Green */
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
button{
    display: inline-block;
    background-color: #d9d9d9;
    border-color: white;
    padding: 20px;
    width: 200px;
    color: #000000;
    text-align: center;
}
h3{
  text-align: center;
  color: black;
}
a{
  text-decoration: underline;
}
